/* Asignando valores que modifican presentación de las páginas, seteo de valores por defecto */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none; /*sacar puntos de lista*/
    text-decoration: none; /*sacar subrayado*/
}